{% load staticfiles %}
<!doctype html>
<html>
	<head>
		<style>
			h1{color:blue}
		</style>
	<meta charset="utf-8">
		<title>Myo Car Monitoring Centor</title>
	</head>
	<body>
		<h1>Myo Car Monitoring Centor</h1>
		<h2>Myo Car IP</h2>
		{{ ip }}
		<h2>Myo Car Camera</h2>
			<div id="mjpeg_wrapper" style="width: 480px; height: 360px;"></div>
	    <h2>Current Velocity</h2>
	    	<canvas id="curVel"></canvas>
	    <h2>Average Velocity</h2>
	    	<canvas id="avrVel"></canvas>
	    <h2>Temperature</h2>
	    	<div id="temperature"></div>
	    <h2>Pressure</h2>
	    	<div id="pressure"></div>
	</body>
	<!--<script src="{% static 'js/mjpeg.js' %}"></script>
	<script>
    var player = new MJPEG.Player("player", "http://192.168.0.6:8080/test.mjpeg");
    player.start();
  	</script>-->
  	<script src="{% static 'js/data.js' %}"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  	<script type="{% static 'js/jquery.mjpeg.streaming.player.js' %}"></script>
  	<script>
  		setInterval(getData, 50);
  		$('#mjpeg_wrapper').clipchamp_mjpeg_player(
		  'http://{{ ip }}/', 
		  20, // frames per second
		  true, // autoloop
		  function(wrapperElement, playerInterface) {
		    // call playerInterface.finish() to stop the playback 
		});
  	</script>
</html>