{% load staticfiles %}
<!doctype html>
<html>
	<head>
		<style>
			h1{color:blue}
		</style>
	<meta charset="utf-8">
		<title>Myo Car Monitoring Centor</title>
	</head>
	<body>
		<h1>Myo Car Monitoring Centor</h1>
		<canvas id='test_canvas' width='640px' height='480px' style='border:1px solid #d3d3d3'>
    	</canvas>
    	<script language="JavaScript">
      	var ctx = document.getElementById('test_canvas').getContext('2d');
      	var img = new Image();
      	img.onload = function() {
        	ctx.drawImage(img, 0, 0);
      	};
      	var theDate = new Date();
      	img.src = "http://192.168.0.6:8080/test.mjpeg";
      	window.setInterval("refreshCanvas()", 10);
		function refreshCanvas(){
		  ctx.drawImage(img, 0, 0);
		};
    </script>
	</body>
	<!--<script src="{% static 'js/mjpeg.js' %}"></script>
	<script>
    var player = new MJPEG.Player("player", "http://192.168.0.6:8080/test");
    player.start();
  	</script>-->
</html>