{% load staticfiles %}
<!doctype html>
<html>
	<head>
		<style>
			h1{color:blue}
		</style>
	<meta charset="utf-8">
		<title>Myo Car Monitoring Centor</title>
	</head>
	<body>
		<h1>Myo Car Monitoring Centor</h1>
		<!--<canvas id="player" style="background: #000;">
		</canvas>-->
		<img src="http://192.168.0.6:8080/test"></img>
	</body>
	<!--<script src="{% static 'js/mjpeg.js' %}"></script>
	<script>
    var player = new MJPEG.Player("player", "http://192.168.0.6:8080/test");
    player.start();
  	</script>-->
</html>